<div class="side-navbar bg-dark text-light">
  <div class="logo mt-4">
    <h3>Actions</h3>
  </div>

  <div class="menus">
    <h5>Menus</h5>
    <hr>
    <li routerLink="/home"><i class="fa-solid fa-gauge"></i> Dashboard</li>
    <li routerLink="/reactive-form"><i class="fa-solid fa-plus-circle"></i> Add Personal Details</li>
    <li routerLink="/show-details"><i class="fa-solid fa-eye"></i> Show Details</li>
    <li routerLink="/uploadFiles"><i class="fa-solid fa-upload"></i> Upload Files</li>
  </div>
  <button class="button btn btn-outline-danger" (click)="onLogout()">Logout</button>
</div>
