<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="rounded-4 bg-light p-5" style="height: 450px; width: 400px;">
    <form [formGroup]="loginDetail" >
      <h1 class="text-center">Login</h1>

      <label for="username" class="mt-3">Username</label>
      <input type="text" formControlName="username" class="form-control" name="username" placeholder="Enter your username">
      <div *ngIf="loginDetail.get('username').invalid && loginDetail.get('username').touched" class="text-danger">
        <small>Please enter your username</small>
      </div>

      <label for="password" class="mt-4">Password</label>
      <input type="password" formControlName="password" class="form-control" name="password" placeholder="Enter your password">
      <div *ngIf="loginDetail.get('password').invalid && loginDetail.get('password').touched" class="text-danger">
        <small>Please enter your password</small>
      </div>

      <div class="text-center">
        <button class="btn btn-outline-success mt-5 mx-auto" (click)="login(loginDetail.value)">Login</button>
      </div>

    </form>
  </div>
</div>
